/* font */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Poppins:wght@500&family=Rubik+Moonrocks&display=swap');

/* common style */
body {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}


/* section-1-style */
.container {
    height: 700px;
    width: 870px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding-left: 30px;
    position: relative;
    top: 30px;
    left: 300px;
}

/* top players */
.heading {
    color: #562EFF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
}

hr {
    margin-right: 30px;
    height: 1px;
    color: gray;
    background-color: gray;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 20px;


}

/* top blogs */
.top-blog {
    position: relative;
    top: 50px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-name {
    margin-left: 25px;
}

.by-name {
    position: relative;
    top: -15px;
}

/* section-2 styles */
.container-2 {
    height: 380px;
    width: 870px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding-left: 30px;
    position: relative;
    top: 80px;
    left: 300px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course img {
    width: 224px;
    height: 104px;
}

.red-color {
    color: red;
}

/* icon */
.fa-solid {
    color: red;
    font-size: 15px;
}

.fa-star-half-stroke {
    color: red;
    font-size: 15px;

}

.star {
    color: gray;
}

/* time  */
.time {
    margin-left: 20px;
    padding: 2px 5px;
    color: red;
    background-color: rgba(242, 174, 174, 0.871);
    border-radius: 8px;
}

@media only screen and (max-width:576px) {
    body {
        margin: 0px;
        padding: 0px;
    }

    .container {
        height: 1300px;
        width: 94%;
        position: relative;
        top: 0px;
        left: 0px;
        padding-left: 20px;

    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .container-2 {
        width: 91%;
        height: 100%;
        position: relative;
        left: 0px;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}